<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EvilCorpServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="EvilCorpServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44329/EvilCorpService.asmx"
                binding="basicHttpBinding" bindingConfiguration="EvilCorpServiceSoap"
                contract="EvilCorpService.EvilCorpServiceSoap" name="EvilCorpServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>